* {
    
}
h1{ text-align: center; border: 1px solid;}
p{ text-align: center; border: 1px solid;}
span{ text-align: center; border: 1px solid; display: block;}
div{ text-align: center; border: 1px solid;}
a{ text-align: center; border: 1px solid; display: block;}