body {
    height: 100vh;
    background-color: grey;
}

.container {
    background-color: black;
    height: 14vh;
    display: flex;
    flex-direction: row;
}

.child {
    width: 30%;
    color: white;
    font-size: xx-large;
  margin:auto;
}

.child:last-child{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.child:first-child {
    width: 20%;
    text-align: center;
}

.child a img {
    width: 20px;
    margin-right: 20px;
}

#containerMenu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 1em;
    
}

#containerMenu a {
    margin-right: 20px;
    margin:auto;
    text-decoration: none;
    color: white;
}


#mainContainer {
    margin: 30px auto;
    width: 70%;
    height:80vh;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    
}

.carteFilm {
    width: ??;
    background-color: lightpink;
}