body {
    height: 100vh;
    /* background-color: grey; */
}

.container {
    background-color: black;
    height: 14vh;
    display: flex;
    flex-direction: row;
}

.child {
    width: 30%;
    color: white;
    font-size: xx-large;
 
}

.child:last-child{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
}

.child:first-child {
    width: 20%;
    text-align: center;
    margin: auto;
}

.child a img {
    width: 20px;
    margin-right: 20px;
}

#containerMenu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 1em;
    
}



#containerMenu a {
    margin-right: 20px;
    margin:auto;
    text-decoration: none;
    color: white;
    /* flex-grow: 1; */
}

#containerMenu a:nth-child(4){
    color: red;
/*     flex-grow: 3; */

}

#mainContainer {
    margin: 30px auto;
    width: 70%;
   
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

.carteFilm {
    width: 18%;
    height: 38vh;
    background-color: rgb(238, 238, 238);
    margin: 5px;
    
}

.carteFilm:nth-child(2n+1){
    background-color: lightslategrey;
}


.divImage img {
   width: 100%;
}

.divTitre p {
   text-align: center;
   margin-top: 8px;
}

@media all and (min-width:481px) and (max-width: 890px) {
    #mainContainer {
        flex-wrap: nowrap;
        flex-direction: column;
       justify-content:start;
        width: 100%;
    }

    .container {
        background-color: green;
    }
    .child {
        color: black;
    }
    .carteFilm {
        width: 80%;
       height: auto;
        margin: auto;
        margin-bottom: 20px;
    }
    
    #containerMenu a {
        color: black;
        font-size: xx-small;
    }
    #mainContainer {
        background-color: black;
    }
}

@media all and (max-width: 480px) {

    #containerMenu{
        display: none;
    }

#mainContainer {
    flex-wrap: nowrap;
    flex-direction: column;
   justify-content:start;
    width: 100%;
}


.carteFilm {
    width: 80%;
   height: auto;
    margin: auto;
    margin-bottom: 20px;

}
}

