#imagePrincipale {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

body {
    background: #000 url(../Assets/Images/sunset-gf10c7fedf_1920.jpg) no-repeat;
/*     OU    */
/*     background-image: url("../../media/examples/lizard.png"); */
    background-size: cover;
    }