p{ margin: 0; }
.vert{ color: #21c165; position: relative; bottom: -14px; left: px; }
#zone{ border: 2px solid #336699; }

.vert2{ color: #21c165; position: relative; bottom: -22px; left:22px; }
#zone{ border: 2px solid #336699; }