body {
    background-color: red;
}

.containerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    height: 10vh;

}

.containerRow:nth-child(2) {
    background-color: rgb(233, 233, 233);
    height: 15vh;
}

.containerColumn {
    height: 34vh;
    background-color: rgb(233, 233, 233);
    margin: 5% auto;
    width: 95%;
}

.containerColumn:nth-child(2) {
    height: 25vh;
}

.childNav {
    width: 33%;
    text-align: center;

}

#menu {
background-color: rgb(233, 233, 233);
    
}








