/* p {
    color: blue;
}

header {
    height : 20vh;
    background-color: #f4892b;
}

ul {
    color: green;
}
 */

  /* commentaire en css */

  *{
    font-family: 'Comforter', cursive;
    font-size: xx-large;
  }
header{
    height: 100px; background: #f98f32;
    }
    nav{
    height: 30px; background: #20DDF2; }
    section{
    min-height: 300px; background: #F2F220; }
    article{
    min-height: 200px; background: #F2F220; }
    footer{
    height: 100px; background: #f98f32;
    }

.liensNav {
color: blue;
}

.liensUl {
    font-size: medium;
}

.liensNavFooter {
    color: blue;
    }
    
    .liensUlFooter {
        font-size: medium;
    }

#lienNav1 {
    color: red;
}

#titreArticle {
 color: chartreuse;
}
    
section {
    background-color: blueviolet;
    height: 33vh;
}

li:hover {
    color:red;
}